pandas==1.1.1
numpy==1.18.5
matplotlib==3.3.0
Pillow==7.2.0
tqdm
opencv-contrib-python==4.3.0.38
flask
cmake==3.18.4.post1
dlib==19.22.0
face_recognition==1.3.0
tensorflow==2.3.0
tensorflow-gpu==2.3.0

